.wrapper {
  display: flex;
  align-items: center;
  justify-content: center;
}
.wrapper .container {
  width: 60%;
}
.wrapper .product {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  /* align-items: center; */
}
.wrapper .image {
max-width:100%;
margin-right: 1em;
}
.wrapper .product .title{
    font-size: 2.5em;
    margin-bottom:5px;
}
.wrapper .product .description{
    font-size: 1em;
    font-weight: 300;
    line-height: 1.5em;
}
